body {
  font-family: "Montserrat", sans-serif;
  color: #454546;
}
button {
  background-color: #eeaa7b;
  width: 90px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.25rem;
  border: 0;
  margin: 0.25rem;
  font-size: 15px;
}
button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #e37222;
  -moz-box-shadow: inset 0px 0px 0px 1px #e37222;
  box-shadow: inset 0px 0px 0px 1px #e37222;
  transform: scale(1.05);
}
footer {
  grid-area: footer;
  background-color: #bce1e4;
}
header {
  grid-area: header;
  background-color: #07889b;
  color: #fff;
  font-size: 1.5em;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

.addArticle {
  text-align: left;
}
.article-list {
  margin-top: 2%;
  border: solid 1px #eeaa7b;
  margin-left: 3%;
  margin-right: 3%;
}
.App {
  text-align: center;
  display: grid;
  grid-template: 2fr 1fr 15fr 1fr / 1fr 6fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";
}
.App-header {
  line-height: 0.5em;
}
.articleBody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.articles {
  margin-top: 8%;
}
.article-title {
  text-decoration: none;
  color: rgb(87, 86, 86);
  transition: all 0.2s ease-in-out;
}
.article-title:hover {
  transform: scale(1.05);
}
.blank {
  color: rgb(238, 63, 63);
}
.button {
  background-color: #eeaa7b;
  padding: 0.5em;
  color: #000;
  font-size: 0.9em;
  border-radius: 0.25rem;
}
.button:hover {
  border: 1px #e37222 solid;
}
.by {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.commentFormContainer {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.commentTextarea {
  width: 100%;
  height: 10vh;
}
.faded {
  color: gray;
}
.form {
  margin-top: 5%;
  padding: 2em;
  display: block;
}
.formContainer {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
.inputTitle {
  width: 100%;
}
.input {
  margin-right: 2em;
}
.input-box {
  color: #454546;
  padding: 0.25em;
  background-color: #fff;
}
.nav {
  grid-area: nav;
  background-color: #e37222;
  border-top: #6e6e6e 2px double;
  border-bottom: #eeaa7b 1px double;
}
.navLink {
  text-decoration: none;
  color: #fff;
  line-height: 0.5em;
  margin: 0;
}
.navLink:hover {
  color: #eeaa7b;
}
.navLink {
  display: flex;
  justify-content: space-evenly;
}
.not-completed {
  border: solid 1px rgb(223, 35, 35);
}
.menu-opener {
  display: none;
}
@media all and (min-width: 470px) {
  .clearfix {
    overflow: auto;
  }
  .sortBy {
    margin-top: 2%;
    width: 200px;
    float: right;
  }
}
@media all and (max-width: 700px) {
  .formContainer {
    width: 65%;
  }
}
@media all and (max-width: 470px) {
  footer {
    display: none;
  }
  .App {
    grid-template: 2fr 1fr 1fr 15fr / 1fr;
    grid-template-areas:
      "header"
      "nav"
      "menu"
      "main";
  }
  label {
    display: block;
    width: 2rem;
    padding-top: 1rem;
    z-index: 2;
    border-radius: 3px;
  }
  .article-list {
    border: none;
  }

  .formContainer {
    width: 90%;
  }
  .commentFormContainer {
    width: 90%;
  }

  #nav-toggle ~ label {
    display: grid;
    grid-area: menu;
    background-color: #66b9bf;
    color: #fff;
    padding: 0.5em;
  }
  .login {
    margin-top: 5rem;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    height: 100%;
    margin-top: 5%;
    width: 150px;
  }

  .user {
    padding-top: 3rem;
  }

  #nav-toggle ~ .sidebar {
    left: -182px;
  }

  #nav-toggle:checked ~ .sidebar {
    transform: translate(182px, 0);
    animation-timing-function: 0.7s ease-in;
  }
  #nav-toggle:checked ~ label {
    position: absolute;
    top: 0;
    padding-top: 2em;
    padding: 0.5em;
    z-index: 1;
  }
  #nav-toggle ~ .sidebar,
  #nav-toggle ~ label {
    transition: 1s transform;
  }
  .sortBy {
    display: none;
  }
}
.link {
  text-decoration: none;
}
.main {
  grid-area: main;
  overflow: auto;
}
.sidebar {
  grid-area: sidebar;
  text-align: left;
  padding: 1em;
  background-color: #66b9bf;
}
.sidebar-text {
  color: #fff;
}
.sidebar-text:hover {
  color: #bce1e4;
}
.textarea {
  width: 100%;
  height: 30vh;
}
.user {
  border-bottom: solid 1px #bce1e4;
  padding-bottom: 2em;
  color: #fff;
}
