.App {
  text-align: center;
  display: grid;
  grid-template: 3fr 1fr 10fr 1fr / 1fr 5fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";
}
header {
  border: black 1px solid;
  grid-area: header;
}
.addArticle {
  text-align: left;
}
.articleBody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.by {
  font-style: italic;
}
.faded {
  color: gray;
}
.formContainer {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
.inputTitle {
  width: 100%;
}
.nav {
  border: black 1px solid;
  grid-area: nav;
  padding: 2em;
}
.navLink {
  display: flex;
  justify-content: space-evenly;
}
.sidebar {
  border: black 1px solid;
  grid-area: sidebar;
  text-align: left;
  padding: 1em;
}
.main {
  border: black 1px solid;
  grid-area: main;
}
.textarea {
  width: 100%;
  height: 30vh;
}
form {
  padding: 2em;
}
footer {
  border: black 1px solid;
  grid-area: footer;
}
