body {
  font-family: "Montserrat", sans-serif;
}
button {
  background-color: #eeaa7b;
  width: 90px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.25rem;
  border: 0;
  margin: 0.25rem;
}
.App {
  text-align: center;
  display: grid;
  grid-template: 5fr 2fr 15fr 1fr / 1fr 6fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";
}
header {
  grid-area: header;
  background-color: #07889b;
  color: #fff;
  font-size: 1.5em;
}
.navlink {
  text-decoration: none;
  color: #fff;
}
.addArticle {
  text-align: left;
}
.articleBody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.by {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.commentFormContainer {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.commentTextarea {
  width: 100%;
  height: 10vh;
}
.faded {
  color: gray;
}
.formContainer {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
.inputTitle {
  width: 100%;
}
.nav {
  grid-area: nav;
  padding: 1.5em;
  background-color: #e37222;
}
.navLink {
  display: flex;
  justify-content: space-evenly;
}
.sidebar {
  grid-area: sidebar;
  text-align: left;
  padding: 1em;
  background-color: #66b9bf;
}
.main {
  grid-area: main;
  overflow: auto;
}
.textarea {
  width: 100%;
  height: 30vh;
}
form {
  padding: 2em;
}
footer {
  grid-area: footer;
  background-color: #bce1e4;
}
