@media all and (min-width: 480px) {
  .clearfix {
    overflow: auto;
  }
  .sortBy {
    margin-top: 2%;
    width: 200px;
    float: right;
  }
}
@media all and (max-width: 700px) {
  .formContainer {
    width: 65%;
  }
  .search {
    margin: 1.5%;
  }
  .search input {
    width: 5em;
  }
  .search button {
    width: 4em;
  }
}
@media all and (max-width: 480px) {
  footer {
    display: none;
  }
  .App {
    grid-template: 2fr 1fr 1fr 15fr / 1fr;
    grid-template-areas:
      "header"
      "nav"
      "menu"
      "main";
  }
  .article-list {
    border: none;
  }

  .formContainer {
    width: 90%;
  }
  .commentFormContainer {
    width: 90%;
  }

  #nav-toggle ~ label {
    display: grid;
    grid-area: menu;
    background-color: #66b9bf;
    color: #fff;
    padding: 0.5em;
  }
  .label {
    display: block;
    width: 2rem;
    padding-top: 1rem;
    z-index: 2;
    border-radius: 3px;
  }
  .login {
    margin-top: 5rem;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    height: 100%;
    margin-top: 5%;
    width: 150px;
  }
  .search {
    display: block;
    float: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .sortBy {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .sortBy label {
    order: 1;
    margin: 0.25rem;
  }
  .user {
    padding-top: 3rem;
  }

  #nav-toggle ~ .sidebar {
    left: -182px;
  }

  #nav-toggle:checked ~ .sidebar {
    transform: translate(182px, 0);
    animation-timing-function: 0.7s ease-in;
  }
  #nav-toggle:checked ~ label {
    position: absolute;
    top: 0;
    padding-top: 2em;
    padding: 0.5em;
    z-index: 1;
  }
  #nav-toggle ~ .sidebar,
  #nav-toggle ~ label {
    transition: 1s transform;
  }
}
